@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ffffff;
  background-image:  radial-gradient(#111116 0.6000000000000001px, transparent 0.6000000000000001px), radial-gradient(#111116 0.6000000000000001px, #ffffff 0.6000000000000001px);
  background-size: 24px 24px;
  background-position: 0 0,12px 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

